<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acotor detalle <%= actor.first_name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>    
    <h1>detalle del actor </h1>
    <br>
    <p>nombre: <%= actor.first_name %> </p>
    <p>apellido: <%= actor.last_name %> </p>
    <p>rankig: <%= actor.rating %> </p>

    <!-- <figure>
        <img src="/img/gato.png" alt="Logo Digital House" class="gato">
    </figure> -->
</body>
</html>